
body {
margin: 0;
font-family: Arial,Arial, Helvetica, sans-serif;
}
.topnav input[type=text]
{
padding-right:6px;
marign-top:8px;
font-size:17px;
}
.topnav .search-container button{
float: right;
padding: 6px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: poniter;
}
.topnav .search-container
{
float:left;
}
table
{
border:none;
}
td {
border: 1px solid black;
padding: 40px;
}